<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 3px solid pink;
            background-color: gainsboro ;
        }
        input[type="text"]:focus{
            background-color: lightseagreen;
        }
        input:hover{
            border-color: rgb(186, 67, 130); 
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Login</h1>
    <input type="text" placeholder="enter your email">
    <input type="password" placeholder="enter your password">
    <input type="submit" value="Login">
    </div>    
</body>
</html>