<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .container {
        background-color: burlywood;
      }
      ul {
        list-style-type: none;
        margin-top: 5px;
        text-align: center;
      }
      li {
        display: inline;
        padding: 20px;
        color: black;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/cal">About</a></li>
        <li><a href="/contactme">Contact</a></li>
        <li>Services</li>
      </ul>

      <h1 style="color: bisque"><%= name %></h1>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, doloribus!
      Esse, sit saepe! Consectetur officiis vel itaque consequuntur, eum ad sit
      atque, reiciendis temporibus eaque animi, blanditiis minus quasi in
      corrupti soluta eius amet! Odio tempore, repudiandae a aspernatur
      voluptatibus temporibus quasi qui incidunt necessitatibus. Perspiciatis
      dolorem ipsam sint in placeat reiciendis maxime totam consequuntur quo
      tempore quae dignissimos voluptas, similique, optio praesentium ad ipsum
      iste ea ratione! Libero hic placeat unde, eligendi ad explicabo atque
      error sit incidunt vitae voluptas? Eos doloribus quam debitis dignissimos
      quisquam, repudiandae accusamus voluptatem eligendi esse quia! Saepe enim
      quo ut deserunt, error magnam, ad cupiditate asperiores quod blanditiis
      labore natus odit? Aut ipsum saepe non eveniet cupiditate voluptates optio
      pariatur, animi, harum asperiores accusantium? Rerum aspernatur deleniti
      suscipit reprehenderit cupiditate vero eum atque a, alias natus aperiam
      ipsa hic voluptatum, autem praesentium quasi, iure adipisci quos molestiae
      similique omnis error? A omnis sint cum! Provident rerum qui quas nemo
      perspiciatis, reiciendis esse deleniti pariatur unde molestias eveniet
      quam. Ratione impedit accusantium deserunt ab molestias natus dolorum a
      debitis architecto? Esse laborum perferendis amet dignissimos, molestiae
      modi asperiores officia minima? Non nihil nesciunt iure? Optio libero
      nobis ex fugiat sequi repudiandae placeat nam delectus, et molestias
      officiis modi! In deleniti hic at quidem reprehenderit maxime beatae quam
      impedit quod necessitatibus iusto soluta illum repellendus cupiditate est
      sequi quos totam eos ratione commodi, iure doloribus ad. Voluptas
      asperiores, iste provident eum eos doloribus quas aliquid nulla soluta
      expedita minus cum eaque explicabo odio neque, laboriosam iure qui beatae
      aspernatur animi? Doloremque fugit quas repellat minima similique
      exercitationem quia praesentium odio ex dolores, necessitatibus neque at
      reprehenderit, eligendi ducimus labore debitis? Est aliquid vero deserunt
      eos sint quaerat iure fugit! Ad cumque similique tempore cum vitae, dolor
      dolores consequatur error dolorem veritatis qui consequuntur delectus
      labore perferendis eligendi ducimus, blanditiis suscipit, rem quam iusto.
      Vero earum minima reprehenderit, possimus a laborum expedita nisi. Autem
      nam culpa aliquam officiis neque commodi voluptas delectus mollitia rem
      doloribus, possimus officia optio totam sint at eaque reprehenderit a
      dolore quis nemo saepe ipsam ipsum temporibus. Dolor eum odit nulla saepe
      beatae perferendis. Magni, rerum commodi molestias ad nam quae ex maiores
      aperiam delectus voluptas corrupti nesciunt tempore reiciendis. Error id
      culpa quam ipsam iure consectetur accusamus aperiam tempore ducimus
      explicabo eligendi vitae officia omnis quia voluptas rem, saepe ullam
      libero amet voluptates odit dolorem ex inventore! Animi dolor consequuntur
      odio culpa obcaecati aperiam tenetur, cupiditate pariatur quis inventore
      officia consequatur nam dolore maxime neque quasi iusto accusantium?
      Recusandae nostrum eligendi veritatis libero, eaque sunt deserunt corporis
      dolor a itaque, dicta est voluptatum nisi voluptatem provident
      necessitatibus dolorem doloremque ratione voluptatibus excepturi enim
      nihil reiciendis! Tempore dignissimos alias excepturi voluptatem officia
      rem quibusdam temporibus doloremque nostrum voluptates nihil neque aperiam
      culpa id quae inventore ratione eum, perspiciatis molestias sunt!
      Corporis, corrupti qui exercitationem alias possimus tempora consectetur
      explicabo ea velit, hic veniam culpa sequi quisquam reiciendis nesciunt
      minima nam amet quis ratione esse suscipit molestiae quidem. Cum, soluta
      praesentium! Consequuntur in quidem dolore aut nulla sint, rem ipsum
      recusandae voluptate dignissimos pariatur repellat deserunt ut repellendus
      cupiditate ratione voluptates nihil minus impedit. Aspernatur tenetur quo
      commodi id obcaecati tempore voluptatum assumenda quis ut, quasi explicabo
      possimus dolorum ullam sequi sit. Animi, magnam praesentium natus corrupti
      quis error ea temporibus aliquid sed, aut, illo vitae consequuntur
      reprehenderit ducimus laborum veritatis similique enim deserunt. Culpa,
      iste id repellat quae numquam ad neque error? Quis perspiciatis vero in
      labore, reprehenderit ullam. Consectetur, corporis sed quo voluptas
      quisquam dolore animi sunt aliquam nisi et quod deleniti iste ab! Laborum
      dolore atque error vero voluptate architecto voluptatibus incidunt
      dolorum, sint, ea tenetur, recusandae molestias voluptatem omnis.
      Inventore quis, nisi corrupti quas quae dolore repudiandae ullam? At odio
      possimus eveniet consequatur? Omnis perspiciatis corrupti debitis impedit,
      ipsam fugit rerum fugiat, molestiae nesciunt et aspernatur earum numquam!
      Enim eligendi atque quasi obcaecati tempore ratione possimus molestiae
      alias vero necessitatibus porro quidem dolores rem harum ab autem quae
      maiores architecto facere, cumque sunt! Quidem rem a consectetur
      voluptatum labore mollitia odit, soluta dolor est quia incidunt maiores
      culpa, illum debitis libero? Alias dolores voluptates minima ipsa soluta
      ab nobis ex amet, architecto exercitationem quo cumque harum explicabo
      similique recusandae dolore totam atque vitae quidem et repellendus? Cum
      aut natus ducimus culpa. Praesentium quo debitis quidem neque iure officia
      molestias aliquid nesciunt tenetur quas. Rerum praesentium error non,
      itaque provident incidunt sed alias exercitationem architecto dicta
      dolores quidem asperiores distinctio sunt ullam porro sapiente voluptatem
      consequatur similique. Optio perspiciatis amet voluptates pariatur.
      Repellendus dolor adipisci eum porro tenetur facere aspernatur provident
      rerum vero eveniet illo reiciendis omnis praesentium recusandae quod
      blanditiis debitis, quia suscipit placeat temporibus in odio ipsum
      reprehenderit ducimus. Laborum officia quos ut minus qui deleniti nisi
      omnis eligendi voluptatum, aliquid inventore quisquam, eum dolore!
      Consequuntur, doloremque. Voluptate facilis dolorum consequuntur, minima
      fugiat sit. Nesciunt excepturi architecto omnis odio vel possimus magnam,
      fugit pariatur deleniti quo ratione laboriosam nam neque, vero, voluptates
      molestias. Enim deserunt animi aut sunt pariatur at culpa praesentium
      alias. Repellendus ipsam quod quam sed doloribus saepe rem tenetur
      asperiores ab adipisci! Ipsum blanditiis deserunt facilis recusandae
      quaerat reiciendis illo atque illum quis possimus, voluptatibus deleniti
      tempore maiores, nobis ratione ut iure officiis hic expedita veritatis
      obcaecati doloribus dolorem! Est, nesciunt. Officiis debitis delectus
      magni nemo, quam qui perspiciatis! Quo recusandae quos at inventore,
      impedit adipisci odio aut, aliquam esse voluptatibus iste quisquam dolorem
      ea? Voluptates iure blanditiis nisi ipsam sequi? Natus magni possimus
      sequi eum fugiat ut, recusandae vero nihil nulla eligendi, quam ad
      reprehenderit quod provident, enim atque quasi vel? Iusto doloremque
      facilis perspiciatis quo blanditiis vitae officia velit dolor repudiandae,
      possimus incidunt quaerat eius consequatur qui? Blanditiis aliquam
      laudantium id, quas quis sit rerum odit enim cum impedit placeat,
      accusamus exercitationem! Quas, modi placeat. Fugiat corporis, ea tenetur
      ex laborum praesentium placeat nisi delectus, possimus sit velit provident
      veniam neque eligendi quasi dicta qui fuga? Vel modi quidem dignissimos
      eligendi sapiente tempore molestias, velit optio iure, rerum nulla sint.
      Expedita, sit unde.
    </p>
  </body>
</html>
